<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spam Classifier</title>
    <style>
        body {
            text-align: center;
            
        }

        textarea {
            width: 90%;
        }

        button {
            margin-top: 10px;
            
        }

        h2 {
            margin-top: 20px;
        }

        .spam {
            color: red;
        }

        .not-spam {
            color: green;
        }
    </style>
</head>

<body>
    <h1>Spam Classifier</h1>
    <form method="post" action="/predict">
        <textarea name="content" placeholder="Enter email here">{{ email }}</textarea>
        <br>
        <button type="submit">Classify</button>
    </form>

    {% if prediction %}
    <h2 class="{{ 'spam' if prediction == 1 else 'not-spam' }}">
        {{ 'Spam' if prediction == 1 else 'Not Spam' }}
    </h2>
    {% endif %}
</body>

</html>
